---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign posts = site.categories[page.category] %}

<p class="archive__subtitle">{{ posts | size }} posts</p>

<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<h3 class="archive__subtitle">All Categories</h3>
<ul class="taxonomy__index">
  {% for item in site.pages %}
    {% if item.taxonomy %}
      {% assign cat_key = item.taxonomy %}
      <li>
        <a href="{{ item.url | relative_url }}">
          <strong>{{ site.data.category_names[cat_key] | default: cat_key }}</strong>
          <span class="taxonomy__count">{{ site.categories[cat_key] | size }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
